In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor

# Load the CSV file into a DataFrame
home_prices_df = pd.read_csv("Metro_US_All_Home_Prices.csv")

# Create a new column "Metro" by extracting the city name from "Region Name"
# We split the string in "Region Name" at the comma and take the first part (city)
home_prices_df["Metro"] = home_prices_df["RegionName"].str.split(',').str[0]

# Display the updated DataFrame to verify the new "Metro" column
home_prices_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,Metro
0,102001,0,United States,country,NaN,122710.838539,122926.726242,123194.458782,123768.692526,124429.566719,...,354242.717001,354677.065211,355473.042348,357021.050068,358884.957514,360324.712897,360888.668935,361037.327498,361281.717048,United States
1,394913,1,"New York, NY",msa,NY,218233.216724,219160.584763,220096.541902,221993.153236,223957.159952,...,639265.650987,642178.317205,646255.694516,651704.395720,657863.854229,662561.428749,665667.764258,668437.168324,672210.970325,New York
2,753899,2,"Los Angeles, CA",msa,CA,222104.914025,222931.426109,224032.332323,226222.765868,228618.413461,...,926554.539271,926708.887683,923740.986284,922618.466845,926105.996730,932034.718291,936012.934083,940417.087163,945635.978294,Los Angeles
3,394463,3,"Chicago, IL",msa,IL,153956.315498,154098.834197,154370.263570,155045.512395,155857.755512,...,311913.816691,312578.140750,313972.158826,316395.381263,319279.856054,321409.733463,322638.674660,323378.146509,324304.487366,Chicago
4,394514,4,"Dallas, TX",msa,TX,126111.301852,126167.472266,126232.045908,126399.736872,126620.832817,...,372112.028509,372133.731174,372616.126553,373774.335129,374743.310085,374887.158218,374222.635105,373283.837228,372632.458458,Dallas

In [14]:
commute_df = pd.read_csv("Commute_Time_By_Top_25_Metro_Area_All_Years__Three Buckets_Percentage.csv")
# Drop rows in the home_prices_df where "Metro" doesn't match with any city in "Metro" column of commute_df
filtered_home_prices_df = home_prices_df[home_prices_df["Metro"].isin(commute_df["Metro"])]
# Display the filtered DataFrame to verify the rows have been dropped correctly
filtered_home_prices_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,Metro
1,394913,1,"New York, NY",msa,NY,218233.216724,219160.584763,220096.541902,221993.153236,223957.159952,...,639265.650987,642178.317205,646255.694516,651704.395720,657863.854229,662561.428749,665667.764258,668437.168324,672210.970325,New York
2,753899,2,"Los Angeles, CA",msa,CA,222104.914025,222931.426109,224032.332323,226222.765868,228618.413461,...,926554.539271,926708.887683,923740.986284,922618.466845,926105.996730,932034.718291,936012.934083,940417.087163,945635.978294,Los Angeles
3,394463,3,"Chicago, IL",msa,IL,153956.315498,154098.834197,154370.263570,155045.512395,155857.755512,...,311913.816691,312578.140750,313972.158826,316395.381263,319279.856054,321409.733463,322638.674660,323378.146509,324304.487366,Chicago
4,394514,4,"Dallas, TX",msa,TX,126111.301852,126167.472266,126232.045908,126399.736872,126620.832817,...,372112.028509,372133.731174,372616.126553,373774.335129,374743.310085,374887.158218,374222.635105,373283.837228,372632.458458,Dallas
5,394692,5,"Houston, TX",msa,TX,121737.010654,121759.686522,121674.688937,121725.495460,121772.362850,...,304832.859556,304826.840219,305204.501474,306189.659687,307208.643453,307743.352455,307625.056921,307261.595181,307043.671704,Houston

In [18]:
commute_df = pd.read_csv("Commute_Time_By_Top_25_Metro_Area_All_Years__Three Buckets_Percentage.csv")
# Drop rows in the home_prices_df where "Metro City" doesn't match with any city in "Metro" column of commute_df
filtered_home_prices_df = home_prices_df[home_prices_df["Metro"].isin(commute_df["Metro"])]

# Display the filtered DataFrame to verify the rows have been dropped correctly
filtered_home_prices_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,Metro
1,394913,1,"New York, NY",msa,NY,218233.216724,219160.584763,220096.541902,221993.153236,223957.159952,...,6.392657e+05,6.421783e+05,6.462557e+05,6.517044e+05,6.578639e+05,6.625614e+05,6.656678e+05,6.684372e+05,6.722110e+05,New York
2,753899,2,"Los Angeles, CA",msa,CA,222104.914025,222931.426109,224032.332323,226222.765868,228618.413461,...,9.265545e+05,9.267089e+05,9.237410e+05,9.226185e+05,9.261060e+05,9.320347e+05,9.360129e+05,9.404171e+05,9.456360e+05,Los Angeles
3,394463,3,"Chicago, IL",msa,IL,153956.315498,154098.834197,154370.263570,155045.512395,155857.755512,...,3.119138e+05,3.125781e+05,3.139722e+05,3.163954e+05,3.192799e+05,3.214097e+05,3.226387e+05,3.233781e+05,3.243045e+05,Chicago
4,394514,4,"Dallas, TX",msa,TX,126111.301852,126167.472266,126232.045908,126399.736872,126620.832817,...,3.721120e+05,3.721337e+05,3.726161e+05,3.737743e+05,3.747433e+05,3.748872e+05,3.742226e+05,3.732838e+05,3.726325e+05,Dallas
5,394692,5,"Houston, TX",msa,TX,121737.010654,121759.686522,121674.688937,121725.495460,121772.362850,...,3.048329e+05,3.048268e+05,3.052045e+05,3.061897e+05,3.072086e+05,3.077434e+05,3.076251e+05,3.072616e+05,3.070437e+05,Houston
6,395209,6,"Washington, DC",msa,VA,180842.151942,180989.190625,181260.192650,181873.819130,182806.635695,...,5.501634e+05,5.505870e+05,5.520378e+05,5.550904e+05,5.592981e+05,5.627547e+05,5.644495e+05,5.650157e+05,5.655384e+05,Washington
7,394974,7,"Philadelphia, PA",msa,PA,122513.075912,122785.376616,122971.211007,123429.776479,123873.533424,...,3.530673e+05,3.542810e+05,3.558435e+05,3.581864e+05,3.609425e+05,3.630089e+05,3.639378e+05,3.643231e+05,3.650522e+05,Philadelphia
8,394856,8,"Miami, FL",msa,FL,112841.961497,113151.736319,113479.771936,114142.475317,114783.781240,...,4.780922e+05,4.804784e+05,4.824152e+05,4.845651e+05,4.865473e+05,4.882377e+05,4.888037e+05,4.889947e+05,4.890146e+05,Miami
9,394347,9,"Atlanta, GA",msa,GA,145114.913650,145449.378651,145843.440336,146681.566032,147617.899469,...,3.770676e+05,3.776150e+05,3.785426e+05,3.800731e+05,3.818430e+05,3.829845e+05,3.832073e+05,3.830043e+05,3.828614e+05,Atlanta
10,394404,10,"Boston, MA",msa,MA,216568.526977,217441.540329,218396.691528,220159.489052,222052.850426,...,6.696114e+05,6.715970e+05,6.742857e+05,6.789267e+05,6.849457e+05,6.900598e+05,6.927894e+05,6.943895e+05,6.960745e+05,Boston
11,394976,11,"Phoenix, AZ",msa,AZ,141352.828737,141639.675693,142017.441810,142793.227460,143646.282734,...,4.535298e+05,4.538964e+05,4.544777e+05,4.559257e+05,4.576032e+05,4.588712e+05,4.589481e+05,4.582657e+05,4.570947e+05,Phoenix
12,395057,12,"San Francisco, CA",msa,CA,288440.448092,289568.768946,291288.430969,295953.647724,302383.146967,...,1.118714e+06,1.114321e+06,1.111912e+06,1.117105e+06,1.128663e+06,1.141032e+06,1.147050e+06,1.149112e+06,1.147690e+06,San Francisco
13,395025,13,"Riverside, CA",msa,CA,135841.301415,136396.549011,136933.956819,138034.636894,139120.833176,...,5.680475e+05,5.700224e+05,5.713738e+05,5.728956e+05,5.749991e+05,5.776305e+05,5.794172e+05,5.809896e+05,5.820729e+05,Riverside
14,394532,14,"Detroit, MI",msa,MI,125331.835498,125466.989838,125805.464727,126485.049776,127378.862255,...,2.458820e+05,2.463892e+05,2.474859e+05,2.493900e+05,2.516150e+05,2.532049e+05,2.539612e+05,2.541315e+05,2.542913e+05,Detroit
15,395078,15,"Seattle, WA",msa,WA,220190.184733,220892.014334,221581.729257,222978.245710,224549.969473,...,7.122012e+05,7.133486e+05,7.155666e+05,7.201641e+05,7.261198e+05,7.312668e+05,7.335111e+05,7.344306e+05,7.352947e+05,Seattle
16,394865,16,"Minneapolis, MN",msa,MN,147033.128623,147519.623121,147957.700161,149005.686086,150165.179058,...,3.730924e+05,3.727248e+05,3.730096e+05,3.742324e+05,3.755922e+05,3.761119e+05,3.754814e+05,3.746904e+05,3.745612e+05,Minneapolis
17,395056,17,"San Diego, CA",msa,CA,214612.396578,215462.072395,216492.005772,218824.027798,221343.038426,...,9.030801e+05,9.053526e+05,9.098940e+05,9.181167e+05,9.283762e+05,9.371548e+05,9.416477e+05,9.430880e+05,9.426449e+05,San Diego
18,395148,18,"Tampa, FL",msa,FL,100010.892626,100142.587101,100349.129344,100869.310918,101561.830633,...,3.783321e+05,3.790077e+05,3.799882e+05,3.810615e+05,3.818181e+05,3.818276e+05,3.808814e+05,3.797074e+05,3.785846e+05,Tampa
19,394530,19,"Denver, CO",msa,CO,186133.587863,187068.917260,188023.458060,190131.919596,192378.685603,...,5.788723e+05,5.784090e+05,5.783057e+05,5.787649e+05,5.799365e+05,5.806238e+05,5.802693e+05,5.797441e+05,5.796460e+05,Denver
20,394358,20,"Baltimore, MD",msa,MD,141989.226829,142061.564202,142254.899331,142661.689351,143214.435918,...,3.773435e+05,3.775869e+05,3.787896e+05,3.812587e+05,3.840090e+05,3.859464e+05,3.862474e+05,3.858373e+05,3.854932e+05,Baltimore
22,394943,22,"Orlando, FL",msa,FL,117042.558129,117362.624966,117740.792006,118438.049035,119135.521113,...,3.937232e+05,3.946391e+05,3.957787e+05,3.970344e+05,3.981211e+05,3.984681e+05,3.980109e+05,3.974955e+05,3.970680e+05,Orlando
23,394458,23,"Charlotte, NC",msa,NC,141880.221566,142075.663686,142333.622926,142838.548113,143420.392585,...,3.740324e+05,3.746628e+05,3.756309e+05,3.776151e+05,3.797108e+05,3.813113e+05,3.816453e+05,3.814492e+05,3.809847e+05,Charlotte
24,395055,24,"San Antonio, TX",msa,TX,112970.861228,113077.497717,113162.005889,113321.480839,112821.000948,...,2.882610e+05,2.870800e+05,2.863648e+05,2.863840e+05,2.866538e+05,2.866300e+05,2.862189e+05,2.853700e+05,2.846411e+05,San Antonio
785,394855,817,"Miami, OK",msa,OK,42943.834659,43036.054377,43117.992805,43267.182407,43403.416364,...,1.166124e+05,1.170747e+05,1.178397e+05,1.191001e+05,1.211162e+05,1.231436e+05,1.246698e+05,1.257275e+05,1.267908e+05,Miami

In [3]:
# Step 1: Identify columns that contain date information
date_columns = filtered_home_prices_df.filter(regex=r'^\d{4}-\d{2}-\d{2}$').columns

# Step 2: Create a new DataFrame to store yearly averages
# Extract the year from the date columns
filtered_home_prices_df_yearly_avg = filtered_home_prices_df.copy()

# Loop through each year from the date columns
for year in range(2000, 2025):  # From 2000 to 2024
    # Select all columns that match the current year
    year_columns = [col for col in date_columns if col.startswith(str(year))]
    
    # Calculate the average for that year across the matching columns
    filtered_home_prices_df_yearly_avg[str(year)] = filtered_home_prices_df[year_columns].mean(axis=1)

# Drop the original date columns
filtered_home_prices_df_yearly_avg = filtered_home_prices_df_yearly_avg.drop(columns=date_columns)

# Display the updated DataFrame with yearly averages
filtered_home_prices_df_yearly_avg.head()

   RegionID  SizeRank       RegionName RegionType StateName   Metro City  \
1    394913         1     New York, NY        msa        NY     New York
2    753899         2  Los Angeles, CA        msa        CA  Los Angeles
3    394463         3      Chicago, IL        msa        IL      Chicago
4    394514         4       Dallas, TX        msa        TX       Dallas
5    394692         5      Houston, TX        msa        TX      Houston

            2000           2001           2002           2003  ...  \
1  228236.333677  256591.123039  289406.051521  332275.171124  ...
2  232411.457365  257442.579993  291677.819819  346346.762012  ...
3  158276.964195  171890.368310  185654.507685  199856.902187  ...
4  127272.724323  129451.749818  132613.591398  136409.226463  ...
5  122403.123483  124028.932793  127026.323361  131259.404075  ...

            2015           2016           2017           2018           2019  \
1  417767.278050  436687.392137  458570.405676  481006.500113  497671.075482
2  507705.187043  527084.898482  573910.059070  633907.170969  649673.994925
3  200373.019284  210856.095856  221825.942265  232372.941507  238138.587799
4  182117.867220  203734.502389  224890.794380  243209.782563  251633.656933
5  183534.022383  194909.774814  202110.803554  210371.454699  218684.752642

            2020           2021           2022           2023           2024
1  514606.039175  562982.333172  609970.348571  623831.364522  658359.949166
2  683222.738515  778279.042016  882911.563806  881706.948498  931659.381922
3  244847.236934  270610.015172  294727.817170  303240.128095  319244.572361
4  262748.133755  304406.673419  369235.098967  371281.826100  373536.698994
5  227258.825353  256617.624359  300703.437909  304271.847022  306637.915137

[5 rows x 31 columns]

In [4]:
# Select the columns representing years between 2010 and 2024 (inclusive)
columns_to_keep = [str(year) for year in range(2010, 2025)]  # This creates a list of year columns from 2010 to 2024

# Keep only the required year columns and any non-year columns (like 'Metro', etc.)
# Assuming there are other necessary columns (e.g., 'Metro'), we include those as well
necessary_columns = ['Metro']  # Adjust this list to include any non-year columns you want to keep

# Filter the DataFrame to keep only the necessary and year columns
filtered_home_prices_df_yearly_avg = filtered_home_prices_df_yearly_avg[necessary_columns + columns_to_keep]

# Display the updated DataFrame
filtered_home_prices_df_yearly_avg.head()

,Metro,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,New York,396589.647630,384564.909211,375518.290765,384470.975667,404313.654609,417767.278050,436687.392137,458570.405676,481006.500113,497671.075482,514606.039175,562982.333172,609970.348571,623831.364522,658359.949166
2,Los Angeles,404119.916610,381628.225170,372390.499355,430129.125075,483187.074509,507705.187043,527084.898482,573910.059070,633907.170969,649673.994925,683222.738515,778279.042016,882911.563806,881706.948498,931659.381922
3,Chicago,197308.543137,179647.501490,167993.290058,175350.972220,192030.788324,200373.019284,210856.095856,221825.942265,232372.941507,238138.587799,244847.236934,270610.015172,294727.817170,303240.128095,319244.572361
4,Dallas,147029.550825,141360.812372,142964.048910,153243.281400,166007.231691,182117.867220,203734.502389,224890.794380,243209.782563,251633.656933,262748.133755,304406.673419,369235.098967,371281.826100,373536.698994
5,Houston,148284.112874,142123.906743,140945.029754,149056.617277,165669.306473,183534.022383,194909.774814,202110.803554,210371.454699,218684.752642,227258.825353,256617.624359,300703.437909,304271.847022,306637.915137

In [36]:
Home_Prices_Adjusted_df = pd.melt(filtered_home_prices_df_yearly_avg, id_vars=['Metro'], var_name='Year', value_name='Value')
Home_Prices_Adjusted_df = Home_Prices_Adjusted_df.sort_values(by=['Metro', 'Year']).reset_index(drop=True)
Home_Prices_Adjusted_df.head(10)

     Metro  Year          Value
0  Atlanta  2010  148689.100170
1  Atlanta  2011  131296.644196
2  Atlanta  2012  127172.806650
3  Atlanta  2013  141549.412391
4  Atlanta  2014  162089.948743
5  Atlanta  2015  174951.646311
6  Atlanta  2016  189197.874487
7  Atlanta  2017  204153.911849
8  Atlanta  2018  222524.201892
9  Atlanta  2019  237693.585081

In [17]:
# import pandas as pd
# import matplotlib.pyplot as plt

# # Load the commute time data (assuming you've already done this)
# commute_df = pd.read_csv("Commute_Time_By_Top_25_Metro_Area_All_Years__Three Buckets_Percentage.csv")

# # Assuming 'Year' is already in the commute_df, otherwise convert if necessary
# commute_df['Year'] = commute_df['Year'].astype(str)

# # Merge the home prices data with the commute data on Metro City (from home prices) and Metro (from commute)
# # and Year column in both DataFrames
# merged_df = pd.merge(
#     Home_Prices_Adjusted_df,        # Home prices data
#     commute_df,                     # Commute time data
#     left_on=['Metro City', 'Year'],  # Left keys for merging (home prices)
#     right_on=['Metro', 'Year'],      # Right keys for merging (commute data)
#     how='inner'                     # Perform inner join to keep matching rows only
# )

# Loop through each unique metro city and create a separate plot for each city
# for metro in merged_df['Metro City'].unique():
#     city_data = merged_df[merged_df['Metro City'] == metro]
    
#     plt.figure(figsize=(10, 6))
    
#     # Plot Home Prices
#     plt.plot(city_data['Year'], city_data['Value'], label=f'{metro} - Home Prices', marker='o')
    
#     # Plot Commute Time (Total)
#     plt.plot(city_data['Year'], city_data['Total'], label=f'{metro} - Commute Time (Total)', marker='x')
    
#     # Customize each plot
#     plt.title(f"Comparison of Home Prices and Commute Time for {metro}")
#     plt.xlabel("Year")
#     plt.ylabel("Value (Home Prices) / Commute Time (Total)")
#     plt.xticks(rotation=45)
#     plt.legend(loc='best')
#     plt.grid(True)
    
#     # Show the plot for this city
#     plt.tight_layout()
#     plt.show()

In [17]:
# Merge the datasets on 'Metro' and 'Year'
Home_Prices_Adjusted_df['Year'] = Home_Prices_Adjusted_df['Year'].astype(int)
commute_df['Year'] = commute_df['Year'].astype(int)
merged_data = pd.merge(Home_Prices_Adjusted_df, commute_df, on=['Metro', 'Year'])

# Select features (Short, Medium, Long Commutes) and target (Housing Value)
X = merged_data[['Short Commutes - Less than half-hour', 'Medium Commutes - Half-hour to one hour', 'Long Commutes - More than one hour']]
y = merged_data['Value']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest regressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
# Train the model
rf_model.fit(X_train, y_train)
# Predict on the test set
y_pred = rf_model.predict(X_test)
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

# Initialize the regression model
# lr_model = LinearRegression()
# # Train the lr_model
# lr_model.fit(X_train, y_train)
# # Predict on the test set
# y_pred = lr_model.predict(X_test)
# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)
# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r2}')

# # Plotting the results
# plt.scatter(y_test, y_pred)
# plt.xlabel('Actual Prices')
# plt.ylabel('Predicted Prices')
# plt.title('Actual vs Predicted Housing Prices')
# plt.show()

Mean Squared Error: 17633402943.509075
R-squared: -0.012045474531482858